<div class="container mt-5">
  <h2 class="text-warning mb-4">Modifier le membre</h2>

  <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nom" class="form-label text-light">Nom</label>
      <input type="text" class="form-control" id="nom" formControlName="nom" />
    </div>

    <div class="mb-3">
      <label for="prenom" class="form-label text-light">Prénom</label>
      <input type="text" class="form-control" id="prenom" formControlName="prenom" />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label text-light">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" />
    </div>

    <button type="submit" class="btn btn-warning fw-bold text-dark" [disabled]="memberForm.invalid">
      Enregistrer
    </button>
  </form>
</div>